

.form__container {
    position: relative;
    left: 2vh;
}

label {
    margin-right: 3rem;
}

.col {
    margin-top: 7px;
}

.col-1 {
    margin-top: .3rem;
}


@media (max-width: 992px) {
    .col-1 {
        margin-top: 2.3em;
    }
}